.PlayPause {
    background-repeat: no-repeat;
    background-color: transparent;
    image-rendering: pixelated;
    max-height: 16px;
    min-height: 16px;
    max-width: 16px;
    min-width: 16px;
    border: none;
    outline: none;
    position: relative;
    top: 6px;
    padding: 0;
    margin: 0;
}

.PP-Play {
    background-image: url(../../img/icons/Ambience/MoonPlay.png);
    left: 50px;
}

.PP-Play:active {
    background-image: url(../../img/icons/Ambience/MoonPlaying.png);
}

.PP-Playing {
    background-image: url(../../img/icons/Ambience/MoonPlaying.png);
    left: 50px;
}

.PP-pause {
    background-image: url(../../img/icons/Ambience/MoonPause.png);
    left: 46px;
}

.PP-pause:active {
    background-image: url(../../img/icons/Ambience/MoonPaused.png);
}

.PP-paused {
    background-image: url(../../img/icons/Ambience/MoonPaused.png);
    left: 46px;
}

.PP-stop {
    background-image: url(../../img/icons/Ambience/MoonStop.png);
    left: 46px;
}

.PP-stop:active {
    background-image: url(../../img/icons/Ambience/MoonStopped.png);
    left: 46px;
}

.PP-stopped {
    background-image: url(../../img/icons/Ambience/MoonStopped.png);
    left: 46px;
}