.wallpaper {
    background: #3A6EA5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.d-icon {
    image-rendering: pixelated;
    min-width: 50px;
    max-width: 75px;
    height: 75px;
    display: inline-block;
    text-align: center;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 12px;
    color: white;
    font-smooth: none;
    -webkit-font-smoothing: none;
    vertical-align: bottom;
    -moz-osx-font-smoothing: none;
    text-decoration: none;
    margin: 5px;
}

img.d-icon {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-height: 32px;
    aspect-ratio: 32 / 32;
}

.d-icon>.title {
    max-height: 26px;
    margin-top: 5px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.icon-row {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: default;
}