body {
    background: #000 url('../img/background/bg1.gif');
    margin: 0;
    overflow: hidden;
}

html{
    cursor: url(../img/ui/cursor/NORMAL.png)0 0, auto;
}

* {
    font-family: Eurostile, monospace;
    font-variant-numeric: tabular-nums;
    color: white;
}

button{
    background-color: transparent;
    border: solid 1px #fff;
}

.center-child {
    display: block;
    text-align: center;
    align-content: center;
}

.center-child>* {
    display: block;
    text-align: center;
    align-content: center;
}