body {
    background: #000 url('../img/background/bg1.gif');
    margin: auto;
    overflow-y: auto;
}

html {
    cursor: url(../img/ui/cursor/NORMAL.png)0 0, auto;
}

* {
    font-family: Eurostile, monospace;
    font-variant-numeric: tabular-nums;
    color: white;
}

button {
    background-color: transparent;
    border: solid 1px #fff;
}

.main {
    margin: 0 auto;
    max-width: 1024px;
}

.centered{
    text-align: center;
    align-content: center;
}

.nav{
    border: solid 1px #00FFBD;
    font-size: smaller;
    text-align: center;
    margin: 8px auto 50px auto;
    max-width: 1024px;
    padding-bottom: 3px;
}
.nav>*{
    color:#00FFBD;
}
