* {
    scrollbar-color: #00FFBD #000;
    font-family: Eurostile, monospace;
    font-variant-numeric: tabular-nums;
    color: #eee;
}

body {
    background: #000 url('../img/background/bg1.gif');
    margin: auto;
    overflow-y: auto;
}

html {
    cursor: url(../img/ui/cursor/NORMAL.png)0 0, auto;
}

button {
    background-color: transparent;
    border: solid 1px #fff;
}

.main {
    padding: 0 1em 1em 1em;
    margin: 0 auto;
    max-width: 1024px;
}

main {
    padding: 0 1em 1em 1em;
    margin: 0 auto;
    max-width: 1024px;
}

.centered {
    text-align: center;
    align-content: center;
}

nav {
    /* position:sticky;
    top:0; */
    border: solid 1px #00FFBD;
    width: 99%;
    text-align: center;
    margin: 8px auto 50px auto;
    min-width: 200px;
    max-width: 1024px;
    padding-bottom: 3px;
    background-color: #000;
}

.nav {
    border: solid 1px #00FFBD;
    width: 99%;
    text-align: center;
    margin: 8px auto 50px auto;
    min-width: 200px;
    max-width: 1024px;
    padding-bottom: 3px;
    background-color: #000;
}

.nav>* {
    color: #00FFBD;
}

q {
    font-style: italic;
    color: #DDFFFF !important;
}

.engine {
    color: #DDFFFF !important;
    font-weight: bold;
    font-size: smaller;
}


a {
    color: #eee;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    font-size: 0.8em;
    border-radius: .2em;
    padding: 0.1em .2em;
    border: 1px solid #eeeeee50;
}

.code-block {
    border-radius: 0;
    border: 2px inset #00FFBD;
    padding: 1vh 0.5em;
    color: #00FFBD;
    display: block;
    overflow-x: auto;
}