.mainWindow {
    width: 411px;
    height: 250px;
    background-color: #D4D0C8;
}

.mainWindow>* {
    padding: 0px;
    margin: 0px;
}

.logonSpacer {
    margin-top: -1px;
    height: 5px;
    background-image: linear-gradient(to right, #013755, #025889, #60A8D9, #9EC0DA, #60A8D9, #025889, #013755);
}

.logon-bar {
    background: linear-gradient( 90deg, #0B256B, #A5C9EF);
    padding-left: 2px;
    margin-bottom: 1px;
    height: 18px;
}

.logon-title {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: 550;
    color: #fff;
    user-select: none;
    font-size: 12px;
    vertical-align: middle;
    padding-top: 1px;
}

.logonform {
    width: 100%;
}

form>*>span {
    display: inline-flex;
    float: left;
    align-items: center;
    height: 20px;
    font-size: 11px;
    width: 75px;
    padding-left: 9px;
}

input[type=text],input[type=password] {
    width: 237px;
    height: 20px;
    border: none;
    background-image: url('../img/logon/TextInput.png');
    padding: 0px;
    padding-left: 6px;
    font-size: 11px;
    margin-bottom: 5px;
}

input[type=text],
input[type=password]:focus {
    outline: none;
}

.other-button {
    background-image: url('../img/logon/blankButton.png');
    width: 75px;
    height: 23px;
    background-color: #D4D0C8;
    font-size: 11px;
    border: none;
    margin-left: 1px;
}

.other-button:disabled {
    color: #808080;
    text-shadow: 1px 1px #FFFFFF;
}

.other-button:active {
    background-image: url('../img/logon/blankButtonPressed.png');
}

.logon-button {
    background-image: url('../img/logon/blankHighlightedButton.png');
    min-width: 75px;
    height: 23px;
    background-color: #D4D0C8;
    font-size: 11px;
    border: none;
}

.logon-button:focus {
    background-image: url('../img/logon/blankHighlightedButtonPressed.png');
}

.logon-button {
    background-image: url('../img/logon/blankHighlightedButton.png');
}