

.log-device {
    min-width: 134px;
    min-height: 270px;
    border-image-source: url('../ui/logs/logbase.png');
    border-image-slice: 146 47 10 50 fill;
    border-image-width: 146px 47px 10px 50px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat stretch;
    border-style: solid;
    padding: 11px 35px 9px 13px;
    overflow-wrap: break-word;
    text-align: justify;
    color: #00FFBD;
}