.log-device {
    margin: 0 auto;
    min-width: 134px;
    min-height: 270px;
    max-width: 1280px;
    border-image-source: url('../img/ui/logs/logbase.png');
    border-image-slice: 146 47 10 50 fill;
    border-image-width: 146px 47px 10px 50px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat stretch;
    border-style: solid;
    padding: 11px 35px 9px 13px;
    overflow-wrap: break-word;
    text-align: justify;
    color: #00FFBD;
}

.log-table {
    width: 100%;
}

.log-table td {
    width: 50%;
    padding: 4px 8px;
    vertical-align: top;
    border: 1px solid #00FFBD;
    border-left: 10px solid #00FFBD;
    color: #00FFBD;
}

.btn {
    float: left;
    padding-right: 8px;
}