body {
    background-image: url(../img/background/moonsidePropper2x.png);
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-color: black;
    color: white;
}

body>* {
    image-rendering: auto;
}

.Ambience {
    background-image: url(../img/icons/Ambience/MusicPlayer.png);
    height: 32px;
    width: 92px;
    image-rendering: pixelated;
    position: fixed;
}