.thumbnail {
    width: 50%;
    float: right;
    margin-left: 1vmin;
    margin-bottom: 1vmin;
}

.thumbnail>* {
    max-width: 100%;
    border: solid 1px #00FFBD;
}


.unavailable {
    cursor: not-allowed;
}

.quote {
    color: #ccc;
}

.curly-underline {
    background: url(../img/ui/underline.gif) bottom repeat-x;
}

table{
    text-align: start !important;
}