.Taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 28px;
}

.Taskbar-background {
    background-image: url(../img/icons/taskbar.png);
    background-repeat: repeat;
    background-color: #D4D0C8;
}

.StartButton {
    background-image: url(../img/icons/StartButtonClassic.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 55px;
    margin: 4px 0px 4px 2px;
    border: none;
    outline: none;
}

.StartButton:active {
    background-position-x: 100%;
}

.Clock {
    background-image: url(../img/icons/ClockClassic.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 71px;
    margin: 4px 2px;
    outline: none;
    display: block;
    float: right;
}

.TimeText {
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-smooth: none;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
}
.StartMenu-Window {
    position: absolute;
    left: 1px;
    bottom: 28px;
    width: 254px;
    height: 311px;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    background: silver;
    background-color: #D4D0C8;
}

.StartMenu-window-inner {
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    height: calc(100% - 45px);
    padding: 0px 0px 0px 0px;
    margin-top: -10px;
}

.StartMenu-Sidebar {
    background-image: linear-gradient(to top, #0000ff, #000080, #000000);
    writing-mode: vertical-rl;
    color: white;
    height: 305px;
    position: absolute;
    bottom: 3px;
    left: 3px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

